<html>
    <head>
    <link rel="stylesheet" href="../static/css/Style.css">   
    </head>
    <body>
    <center>hello people, here is the top 10 most viewed article in the last 24 hours<center><br>
    {% for x in range(0,9) %}
    <div class="news">
    <div>
        <img src="{{images[x]}}" alt="">
    </div>    
    <div>
        {{titles[x]}}
    </div>
    <div>
        {{articles[x]}}
    </div>
    <div>
    <a href="{{links[x]}}">{{links[x]}}</a>
    </div>
    
    </div>
    {% endfor %}
    </body>
    
</html>
